<h1 class="header">My tasks</h1>
<% @tasks.each do |task| %>
<ul>
  <li class="list">
    <input type="checkbox" <%= 'checked' if task.completed == true %> >
      <%= link_to task.title, task_path(task) %>
    </li>
</ul>
<% end %>
<%= link_to "Add a new task", new_task_path %>
