// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list {
 display: inline;
 list-style-type: none;
}

.details-box {
  color: white;
  padding: 15px;
  background: gray;
  background-clip: padding-box;
  margin: 10px;
}
